<%= form_for(@nest) do |f| %>
  <% if @nest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nest.errors.count, "error") %> prohibited this nest from being saved:</h2>

      <ul>
      <% @nest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product %><br>
    <%= f.text_field :product %>
  </div>
  <div class="field">
    <%= f.label :temperature %><br>
    <%= f.number_field :temperature %>
  </div>
  <%= f.hidden_field :event_id, :value => @event_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
