<%= form_for(@event) do |f| %>
<div style="width: 100%; overflow: hidden;">
    <div>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :starts_at %><br>
        <%= f.datetime_select :starts_at %>
      </div>
      <% if @where == "new" %>
        <div>
          <p>


            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary show">
                <div class="show">
                  <%= f.radio_button(:category, "Order", class: "show") %>
                  <%= label_tag(:postmate, "Order Products", class: "show") %>
                </div>
              </label>
              <label class="btn btn-primary hide_fav">
                <div class="hide_fav">
                  <%= f.radio_button(:category, "Nest", class: "hide_fav") %>
                  <%= label_tag(:next, "Adjust Thermostat", class: "hide_fav") %>
                </div>
              </label>
              <label class="btn btn-primary hide_fav">
                <div class="hide_fav">
                  <%= f.radio_button(:category, "Weather", class: "hide_fav") %>
                  <%= label_tag(:next, "Weather Alert", class: "hide_fav") %>
                </div>
              </label>
            </div>
            <p><div class="editfield" style="display:none;">
              <%= collection_select(:order, :order_id, Order.all, :id, :manifest, {:prompt => true}) %>
            </div></p>

          </p>
          <p>
            Repeat:
            <%= radio_button_tag(:repeat, "Never") %>
            <%= label_tag(:never, "Never") %>
            <%= radio_button_tag(:repeat, "Daily") %>
            <%= label_tag(:daily, "Daily") %>
            <%= radio_button_tag(:repeat, "Weekly") %>
            <%= label_tag(:weekly, "Weekly") %>
          </p>
        </div>
      <% else %>
      <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
</div>
<% end %>

<script>
$('.show').on("click", function(){
  $('.editfield').show();
});
$('.hide_fav').on("click", function(){
  $('.editfield').hide();
});
</script>