
<div>
	<p id="notice"><%= notice %></p>
	<h1>Event details</h1>
	<p>
	  <strong>Name:</strong>
	  <%= @event.name %>
	</p>

	<p>
	  <strong>Time:</strong>
	  <%= @event.starts_at %>
	</p>

	<%= link_to 'Edit schedule', edit_event_path(@event), class: "btn btn-default" %>

	<% if @event.category == "Order" %>
		<h1>Order details</h1>
			<% @order = @event.order %>
			<%= render "orders/show", :order => @order  %>
			<%= link_to 'Edit order', edit_order_path(@order), class: "btn btn-default" %>
	<% elsif @event.category == "Nest" %>
		<h1>Thermostat change details</h1>
	<% elsif @event.category == "Weather" %>
		<h1>Weather Alert details</h1>
	<% else %>
	<% end %>

	<%= link_to 'Back', '/calendar/home', method: :get %>

</div>


