
  <% if @order.manifest%>
  	<strong>Order: </strong>
  	<div class="detail_info">
		  <%= @order.manifest %>
  	</div></br>
  <% end %>
  
  <strong>Ordered from:</strong></br>
  <div class="detail_info small">

    <% if @order.pickup_business_name%>
	    <strong>Company:</strong> <%= @order.pickup_business_name %></br>
    <% end %>
    
    <% if @order.pickup_address%>
	    <strong>Address:</strong> <%= @order.pickup_address %></br>
  	<% end %>
    
    <% if @order.pickup_phone_number%>
		<strong>Phone:</strong> <%= @order.pickup_phone_number %></br>
  	<% end %>
  	
  	<% if @order.pickup_notes%>
	    <strong>Order notes:</strong> <%= @order.pickup_notes %>
	<% end %>
  </div>

	</br>
  
  <strong>Deliver to:</strong></br>
  <div class="detail_info small">
  	
  	<% if @order.dropoff_name%>
		<strong>Name:</strong> <%= @order.dropoff_name %></br>
	<% end %>
	
  	<% if @order.dropoff_address%>
	    <strong>Address:</strong> <%= @order.dropoff_address %></br>
	<% end %>
	
  	<% if @order.dropoff_phone_number%>
	    <strong>Phone:</strong> <%= @order.dropoff_phone_number %></br>
	<% end %>

  	<% if @order.dropoff_notes%>
	    <strong>Delivery Notes:</strong> <%= @order.dropoff_notes %>
	<% end %>
  </div>
</p>

