
<p>
  <strong>Order:</strong>
  <div style="padding: 10px; font-size: 10px; margin-top: 0px;">
    <%= @order.manifest %>
  </div>
</p>

<p>
  <strong>Ordered from:</strong></br>
  <div style="padding: 10px; font-size: 10px">
    <strong>Company:</strong> <%= @order.pickup_business_name %></br>
    <strong>Address:</strong> <%= @order.pickup_address %></br>
    <strong>Phone:</strong> <%= @order.pickup_phone_number %></br>
    <strong>Order notes:</strong> <%= @order.pickup_notes %>
  </div>
</p>

<p>
  <strong>Deliver to:</strong></br>
  <div style="padding: 10px; font-size: 10px">
    <strong>Name:</strong> <%= @order.dropoff_name %></br>
    <strong>Address:</strong> <%= @order.dropoff_address %></br>
    <strong>Phone:</strong> <%= @order.dropoff_phone_number %></br>
    <strong>Delivery Notes:</strong> <%= @order.dropoff_notes %>
  </div>
</p>

