<div id="bg">
	  <img src="/images/kenny.jpg" alt="">
</div>	  
<div id="homepage-wrapper">
	<div class="container">

</br></br></br>
<h1 id="kennyandme">
 	Kenneth & Me
</h1></br>

<p id="description">
	A personal assistant app for all your needs
</p>

</br></br></br>
<h1 >Log in</h1>
</br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><p><%= f.label :email %>
  <%= f.email_field :email, autofocus: true %>       <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
      <%= f.submit "Log in" %> </div>
  <strong>
  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %> <%= f.label :remember_me %> |
  <% end -%>

  <%= render "devise/shared/links" %>
</strong>
<% end %>



</div>
</div>
