<%= form_for(@weather) do |f| %>
        <div class="general_details">
  <% if @weather.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weather.errors.count, "error") %> prohibited this weather from being saved:</h2>

      <ul>

      <% @weather.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <%= f.hidden_field :event_id, :value => @event_id %>
  <div class="actions">
    <%= link_to 'Back', '/calendar/home', method: :get, class: "btn btn-back" %>
    <%= f.submit 'Create Alert', class: "btn btn-create" %>
  </div>
</div>
<% end %>
